SPRING_PROFILES_ACTIVE=dev
DB_URL=jdbc:mariadb://<endpoint-rds>:3306/db_users
DB_HOST=<endpoint-rds>
DB_USERNAME=svc_users
DB_PASSWORD=<your_password_here>
DB_PORT=3306
DB_NAME=db_users
DB_USER=svc_users
SERVER_PORT=8081
